@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.header-title{
  font-family:'Press Start 2P', cursive;
  color: white;
}

.user-name{
  font-family: 'Orbitron', sans-serif;
  color: white;
}

.header-logout{
  font-family: 'Orbitron', sans-serif;
  border: none;
  width: 100px;
  background-color: white;
  color: black;
  margin-bottom: 1px;
}

.header-login{
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  max-width: 115px;
  color: black;
}

.header-post{
  font-family: 'Orbitron', sans-serif;
  border: none;
  max-width: 110px;
  background-color: white;
  box-shadow: 5px 5px #5c4d4d;
}